<div class="container">
  <div>
    <ul>
      <li [routerLink]="['formulario']" routerLinkActive="activa">Formulario</li>
      <li [routerLink]="['lista']" routerLinkActive="activa">Lista</li>
    </ul>
    <!-- <router-outlet></router-outlet> -->

    <componente-uno (tareaemitida)="onTareaCreada($event)"></componente-uno>

  </div>
  <div class="row">
    <componente-dos [listaTareasHechas]="arrTareasHechas"></componente-dos>
    <componente-dos [listaTareasPendientes]="arrTareasPendientes"></componente-dos>
  </div>

</div>